.main__myProjects {
    
    div {
        color: #122336;
        font-size: 40px;
        margin-top: 100px;
        @extend %display;
        @extend %justify-align-center;
        }
}
    .section1__myProjects {
        h3 {
            display: inline-block;
            color: $azul-paleta;
            
        p {
            font-size: 15px;
            color: $azul-paleta;
        }
        img {
            margin: 25px;
        }
    }

}